.bg-color-1 {
    background-image: linear-gradient(-179deg, #5CF854 0%, #3EBA1F 100%);
}

.bg-color-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2184AB), to(#143868));
    background-image: linear-gradient(-180deg, #2184AB 0%, #143868 100%);
}

.nav-container-screen div, .nav-container div {
    background-image: linear-gradient(-179deg, #5CF854 0%, #3EBA1F 100%);
}

.header-bg {
    background-image: url(../../images/backgrounds-min/waves-header-min.png);
}

.header-blog,
.stats,
footer,
.video,
.call-to-action {
    background-image: url(../../images/backgrounds-min/waves-min.jpg);
}

@media (max-width: 768px) {
    body {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0.00)), to(rgba(216, 216, 216, 0.00)));
        background-image: linear-gradient(-180deg, rgba(238, 238, 238, 0.00) 0%, rgba(216, 216, 216, 0.00) 100%);
    }
    header {
        background-image: url(../../images/backgrounds-min/waves-min.jpg);
        background-position: center;
    }
}
