.bg-color-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#915AF2), to(#2D2DCE));
    background-image: linear-gradient(-180deg, #915AF2 0%, #2D2DCE 100%);
}

.bg-color-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 152, 112, 0.97)), to(#CD4E0A));
    background-image: linear-gradient(-180deg, rgba(244, 152, 112, 0.97) 0%, #CD4E0A 100%);
}

.nav-container-screen div, .nav-container div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#915AF2), to(#2D2DCE));
    background-image: linear-gradient(-180deg, #915AF2 0%, #2D2DCE 100%);
}

.header-bg {
    background-image: url(../../images/backgrounds-min/squircle-header-min.png);
}

.header-blog,
.stats,
footer,
.video,
.call-to-action {
    background-image: url(../../images/backgrounds-min/squircle-min.jpg);
}

@media (max-width: 768px) {
    .header-bg {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0.00)), to(rgba(216, 216, 216, 0.00)));
        background-image: linear-gradient(-180deg, rgba(238, 238, 238, 0.00) 0%, rgba(216, 216, 216, 0.00) 100%);
    }
    header {
        background-image: url(../../images/backgrounds-min/squircle-min.jpg);
        background-position: center;
    }
}
