.bg-color-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F251), to(#B8B00A));
    background-image: linear-gradient(-180deg, #F5F251 0%, #B8B00A 100%);
}

.bg-color-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6326AA), to(#5C1B84));
    background-image: linear-gradient(-180deg, #6326AA 0%, #5C1B84 100%);
}

.nav-container-screen div, .nav-container div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F251), to(#B8B00A));
    background-image: linear-gradient(-180deg, #F5F251 0%, #B8B00A 100%);
}

.header-bg {
    background-image: url(../../images/backgrounds-min/ambient-header-min.png);
}

.header-blog,
.stats,
footer,
.video,
.call-to-action {
    background-image: url(../../images/backgrounds-min/ambient-min.jpg);
}

@media (max-width: 768px) {
    body {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0.00)), to(rgba(216, 216, 216, 0.00)));
        background-image: linear-gradient(-180deg, rgba(238, 238, 238, 0.00) 0%, rgba(216, 216, 216, 0.00) 100%);
    }
    header {
        background-image: url(../../images/backgrounds-min/ambient-min.jpg);
        background-position: center;
    }
}
