.cart{margin:30px 60px 0 25px;border:0;}
.cart button,.cart button:active{border:0;transition:left .3s ease-in-out;background:#FFF;}
@media only screen and (min-width:768px) and (max-width:999px){
.cart{margin:-48px 70px 0 20px;}
}
@media only screen and (min-width:640px) and (max-width:767px){
.cart{margin:-48px 70px 0 20px;}
}
@media only screen and (min-width:480px) and (max-width:639px){
.cart{margin:-48px 70px 0 20px;}
}
@media only screen and (max-width:479px){
.cart{margin:-48px 70px 0 20px;}
}
@media only screen and (min-width:576px) and (max-width:767px){
.woocommerce .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media only screen and (max-width:575px){
.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
}
}
@media only screen and (max-width:767px){
.woocommerce ul.products li.product{margin: 0 !important;}
.p-70-40 {
    padding: 70px 0 10px;
}
}
.woocommerce .col-1, .woocommerce .col-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	padding-left: 0;
}
label.woocommerce-form__label-for-checkbox,.comment-form-rating label{
	margin-bottom: 0;
}
.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    width: 100%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce .cart-collaterals .related ul.products li, .woocommerce .cart-collaterals .up-sells ul.products li {
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
.woocommerce .col-md-3, .woocommerce .col-md-4, .woocommerce .col-sm-6, .woocommerce .col-xs-12{
	float: left;
}
.shop-subtitle{
	font-size:18px;
	color:#FFF;
	margin:10px 0 0;
	font-weight:300;
	line-height:1.1;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    margin: 0 15px;
    padding-top: 7px;
    font-family: 'Roboto', sans-serif;
    color: rgba(84,84,84,0.65);
}
select.orderby {
    border-radius: 0;
    box-shadow: none;
}
.woocommerce div.product form.cart .variations select {
    padding: 5px 20px;
    width: 75%;
    height: 40px;
    border: none;
    background-color: rgb(250, 251, 255);
    color: #607D8B;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: none;
    transition: .4s;
    -webkit-transition: .4s;
}
.woocommerce div.product form.cart .reset_variations {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    color: rgba(84,84,84,0.55);
}
table.variations tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
.woocommerce-page table th, .woocommerce-page table td{
	border-top: none;
}
.woocommerce-page table thead th{
	border-bottom: none;
}
#bcrumbs a,#bcrumbs span{font-family:'Nunito', sans-serif!important;}
.woocommerce .bread-current{word-break:break-all;-ms-word-wrap:break-word;}
.woocommerce ul.bcrumbs{padding:0;margin:10px 0 0;}
.woocommerce .bcrumbs li{list-style:none;margin:0;}
.woocommerce .bcrumbs{margin:45px 15px 38px;display:table;}
.woocommerce .bcrumbs li{float:left;font-size:12px;line-height:1.5;margin-right:10px;position:relative;}
.woocommerce .bcrumbs li:first-child:before{display:none;}
.woocommerce .bcrumbs li.separator{top:3px;color:#F7F8FC;opacity:0.7;}
.woocommerce .bcrumbs li a,.woocommerce .bcrumbs li span{font-weight:300;color:#F7F8FC;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;-webkit-transition:.4s;transition:.4s;display:block;font-family:'Nunito', sans-serif;}
.woocommerce .bcrumbs li a:hover{opacity:0.7;color:#F7F8FC;-webkit-transition-timing-function:ease-in;transition-timing-function:ease-in;}
.woocommerce .bcrumbs li.item-current:before{content:none;}
.woocommerce .bcrumbs li.woo-crumbs{
	font-family: 'Nunito', sans-serif!important;
	font-weight:300;
    color: #F7F8FC;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: .4s;
    transition: .4s;
    display: block;
	font-size: 14px;
    line-height: 1.4;
}
@media only screen and (max-width: 991px) and (min-width: 768px){
.woocommerce .bcrumbs{margin:25px 15px 38px;}
}
@media only screen and (max-width: 767px){
.woocommerce ul.bcrumbs {
    display: none;
}
.woocommerce .col-1, .woocommerce .col-2 {
    padding-right: 0;
}
}
.woocommerce .woocommerce-ordering,.woocommerce-page .woocommerce-ordering{float:right;}
.woocommerce-ordering select.orderby {
    padding: 15px 20px;
    width: 100%;
    height: 55px;
    border: none;
    background-color: rgb(250, 251, 255);
    color: #607D8B;
    border-radius: 10px;
    transition: .4s;
    -webkit-transition: .4s;
	margin-bottom: 0;
}
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
    color: #fff;
	opacity: .5;
}
.woocommerce .woocommerce-ordering{margin:0 15px 60px 0;}
.price del{
	margin-right: 5px;
}
.price del .amount {
    font-size: 85% !important;
    text-decoration: line-through;
}
.entry-summary .price del .amount {
    font-size: 98% !important;
}
.woocommerce .menu-items{overflow:hidden;position:relative;z-index:1;}
.woocommerce .review .avatar{display:none;}
.woocommerce .menu-items h3{background:#fff;display:inline;float:left;margin:5px 0;padding-right:10px;text-align:left;color:#010101;font-size:20px;}
.woocommerce .menu-items .price{background:#fff;color:#607D8B;float:right;font-size:20px;font-style:italic;font-weight:700;margin:3px 0;padding-left:10px;}
.woocommerce .btn{padding:10px 35px;font-size:15px;}
.woocommerce .left{float:left!important;}
.woocommerce .full-wid{width:100%;}
.woocommerce .font-bold{font-weight:600!important;}
.woocommerce .uppercase{text-transform:uppercase;}
.woocommerce .font-white{color:#FFF!important;}
.woocommerce .font-black{color:#000;}
.woocommerce .m-top1{margin-top:10px;}
.woocommerce .m-bottom2{margin-bottom:20px!important;}
.woocommerce .m-bottom5{margin-bottom:50px;}
.woocommerce img{max-width:100%;height:auto;}
.woocommerce .floatnone{float:none!important;}
.woocommerce .margin_zero{margin:0!important;}
.woocommerce .nodisplay{display:none!important;}
.woocommerce td,.woocommerce th{padding:5px 5px 5px 0;}
.woocommerce a.button, .woocommerce a.added_to_cart.wc-forward, .woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce a.button:focus, .woocommerce a.button:hover, .woocommerce a.added_to_cart.wc-forward:focus{
	font-family: 'Nunito', sans-serif !important;
	color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce a.button:focus, .woocommerce a.button:hover, .woocommerce a.added_to_cart.wc-forward:focus{
	font-weight: bold !important;
}
.woocommerce a.button, .woocommerce a.added_to_cart.wc-forward{
	font-weight: 500 !important;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
	margin: 0 15px 0 0;
	box-shadow: none;
	height: 37px;
	width: 200px;
}
.woocommerce a.added_to_cart.wc-forward, .woocommerce div.product form.cart .button, .woocommerce .button,
.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce .menu-card{
	transition: .4s;
    -webkit-transition: .4s;
}
.woocommerce .button, .woocommerce .login .button, .woocommerce div.product form.cart .button,.woocommerce div.product form.cart .button:hover,.woocommerce-tabs ul.tabs li.active,.woocommerce-tabs ul.tabs li:hover,
.woocommerce .product ul.tabs li.active a,.woocommerce .product ul.tabs li:hover a,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(73,172,229,1)), to(rgba(9,98,194,1)));
    background: linear-gradient(-180deg, rgba(73,172,229,1) 0%, rgba(9,98,194,1) 100%);
	-webkit-transform: translateY(0) scale(1.01);
    transform: translateY(0) scale(1.01);
	font-size: 15px;
	color: #fff;
}
.woocommerce .button:hover, .wc-forward:hover, .woocommerce .login .button:hover, .woocommerce a.button:hover,
.woocommerce #respond input#submit:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(73,172,229,1)), to(rgba(9,98,194,1)));
    background: linear-gradient(-180deg, rgba(73,172,229,1) 0%, rgba(9,98,194,1) 100%);
	-webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
	font-size: 15px;
	color: #fff;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{
	padding: 20px;
}
.woocommerce a,.woocommerce .menu-items .price,.woocommerce a:focus,.woocommerce a:hover,.woocommerce a:active{
	color:#607D8B;
	outline: none;
}
.woocommerce .menu-card{
	margin-bottom:40px;
	text-align: center;
	background-color: transparent;
}
.menu-card .btn{
	border: none;
}
.woocommerce .menu-card:hover{
	background-color: #F2F2F2;
}
.woocommerce .menu-card:hover .button, .woocommerce .menu-card:hover .wc-forward, .woocommerce .menu-card:hover a.button{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(73,172,229,1)), to(rgba(9,98,194,1)));
    background: linear-gradient(-180deg, rgba(73,172,229,1) 0%, rgba(9,98,194,1) 100%);
	-webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
	color: #fff;
	font-weight: bold !important;
}
*{outline:0!important;}
.post-review #reply-title{margin-bottom:5px!important;margin-top:15px;}

.woocommerce-Tabs-panel--reviews .col-sm-6.xs-tcenter {
    padding-left: 0 !important;
}
.logged-in .woocommerce-Tabs-panel--reviews .col-sm-6.xs-tcenter {
    padding-left: 15px !important;
}
.product-thumbnail img{
	margin-bottom: 0 !important;
}
.woocommerce-Tabs-panel--reviews .row{margin:0 -5px;}
.woocommerce-Tabs-panel--reviews .col-sm-6{padding:0 5px;}
.woocommerce-Tabs-panel--reviews input{height:55px;padding:5px 25px;position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fafafa;font-size:12px;color:#555555;border:none;width:100%;margin-bottom:10px;line-height:55px;position:relative;display:table;}
.woocommerce-Tabs-panel--reviews textarea{height:140px !important;padding:5px 25px;line-height:55px;position:relative;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#fafafa;font-size:12px;color:#555555;border:none;width:100%;margin-bottom:0;}
.woocommerce-Tabs-panel--reviews .product-reviews h3{color:#333333;font-size:24px;font-weight:500;margin:0 0 40px;position:relative;}
.product-reviews p.meta{
	margin-bottom: 10px !important;
}
.product-reviews h5{
	text-align: center;
}
li.reviews{
	padding: 0;
}
.product-reviews .description p,.product-reviews p.comment-notes,.comment-form-rating label{
	font-size: 13px;
}
.related.products .col-md-3{padding-left:0!important;}
.quantity{margin:0 auto;overflow:hidden;position:relative;width:120px;height:46px;}
.cart_item .quantity{margin:0;overflow:hidden;position:relative;width:120px;height:46px;}
.cross-sells h2,.cart_totals h2{color:#262526;font-size:22px;line-height:23px;font-weight:500;letter-spacing:0.1em;text-transform:uppercase;margin:30px 0;}
.cart-collaterals{margin-top:50px;}
.woocommerce ul.products li.product,.woocommerce-page ul.products li.product,.woocommerce .cart-collaterals .cross-sells ul.products li{float:none;margin:0;padding:0;position:relative;width:auto;}
.woocommerce .cart-collaterals .cross-sells ul.products li .col-md-3{padding-left:0!important;}
.woocommerce-cart .cart-collaterals .cross-sells ul.products li .col-md-3{width:50%;}
.product_meta{margin-top:30px;margin-bottom:30px;}
.woocommerce.single-product .product_meta{margin-top:30px;margin-bottom:0;}
.quantity{margin:0 auto;overflow:hidden;position:relative;width:120px;height:46px;}
.quantity .qty{float:left;width:160px;min-width:100px!important;height:40px;border:1px solid #d0d0d0;box-shadow:none;text-align:center;font-size:1em;padding:0 0 0 15px;}
.quantity .qty:hover,.quantity .qty:focus{
	transform: none !important;
}
.single_add_to_cart_button{margin-top: 3px !important;}
.quantity .qty::-ms-clear{display:none;}
a.woocommerce-review-link{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 12px;
    margin-top: -3px !important;
}
.woocommerce .woocommerce-product-rating .star-rating {
    margin-top: 11px;
}
.woocommerce .comment-text .star-rating {
    margin-top: 9px;
}
.product_title{margin-bottom:.5em;font-size:24px;}
.price .amount{display:inline-block;font-size:16px;color:#2b2b2b;font-family: 'Oswald', sans-serif;}
.woocommerce .price ins .amount{
	font-weight: 400;
	font-size: 20px;
	line-height: 1.3;
	color: #58468c;
}
.product_meta > span{display:block;font-size:13px;}
.product_meta > span > a{color:#262526;}
.products{padding-top:10px;padding-left:0;list-style:none;}
.woocommerce div.product p.price,.woocommerce div.product span.price{font-weight:400!important;font-size:13px;}
.summary.entry-summary .price{padding:0;}
.summary.entry-summary p{color:#515150;font-size:16px;line-height:26px;}
.summary.entry-summary small {
    font-size: 90%;
    font-weight: 500;
}
.summary.entry-summary i{
	font-style: normal;
}
.woocommerce-tabs.wc-tabs-wrapper ul{padding-left:2px;margin-bottom:20px;margin-top:20px;}
.woocommerce-tabs.wc-tabs-wrapper ul li{position:relative;padding:0 0 8px 20px;font-size:13px;}
.woocommerce-tabs.wc-tabs-wrapper ul li:before{content:"\f0da";display:block;font-family:"FontAwesome";font-size:14px;font-style:normal;font-weight:normal;left:0;margin-right:10px;position:absolute;top:0;}
.product_meta > span{display:block;font-size:14px;font-weight:500;padding:2px 0;}
.woocommerce div.product form.cart .button{border-radius:0;float:left;margin-top:5px;vertical-align:middle;color:#fff;}
.woocommerce div.product form.cart .button:hover{border-radius:0;float:left;margin-top:5px;vertical-align:middle;color:#fff;}
.related.products h2{color:#262526;font-size:22px;line-height:23px;font-weight:500;letter-spacing:0.1em;margin:30px 0;}
.single.single-product .related.products h2{margin:40px 0;text-align:center;}
.woocommerce .input-text{
	-webkit-box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
    box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
	border: none;
    background-color: rgb(250, 251, 255);
    border-radius: 5px;
	padding: 12px 20px;
}
.woocommerce-checkout span.woocommerce-input-wrapper, .woocommerce-account span.woocommerce-input-wrapper{
    width: 100%;
}
.woocommerce textarea.input-text {
	-webkit-box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
    box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
	border: none;
    background-color: rgb(250, 251, 255);
    border-radius: 5px;
	padding-top: 15px;
	padding-left: 20px;
	color:#999;
}
/*Not done yet*/
.woocommerce-shipping-calculator input, .select2-container--default .select2-selection--single .select2-selection__rendered{
	min-width:300px;
	-webkit-box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
    box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
	border: none;
    background-color: rgb(250, 251, 255);
    border-radius: 5px;
	padding: 15px 20px;
	line-height: 28px;
	color:#999;
}
.woocommerce-page .select2-container--default .select2-search--dropdown .select2-search__field, .woocommerce-page .select2-search--dropdown{
	display: none;
}
.woocommerce-page .select2-container--default .select2-results ul.select2-results__options{
	-webkit-box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
    box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
	border: none;
    background-color: rgb(250, 251, 255);
    border-radius: 5px;
	padding: 15px 20px;
	line-height: 28px;
	color:#999;
}
.woocommerce-page .select2-dropdown{
	border: none;
}
/*ITS Not done yet*/
.woocommerce-page form .form-row {
    padding-left: 0;
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text{
	border: none;
	padding: 6px 15px 5px;
}
.woocommerce-tabs ul.tabs{list-style-type:none;margin:0;padding:0;overflow-y:hidden;position:relative;color:#777575;}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before{box-shadow:2px 2px 0 #fff;}
.woocommerce div.product .woocommerce-tabs ul.tabs li{position:relative;text-align:center;list-style:outside none none;}
.woocommerce-tabs ul.tabs li.active,.woocommerce-tabs ul.tabs li:hover,.woocommerce .product ul.tabs li.active a,.woocommerce .product ul.tabs li:hover a{color:#fff!important;outline:0 none;}
.woocommerce .product ul.tabs li{width:auto!important;}
.woocommerce-tabs ul.tabs li{border:0 none!important;margin: 5px!important;padding: 0 10px 0 2px!important;float:left;}
.woocommerce div.product .woocommerce-tabs ul.tabs::before{border-bottom:0 solid #d3ced2;}
.woocommerce div.product .woocommerce-tabs ul.tabs{padding:0;}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li{
    font-weight: 400;
    padding: 7px 24px;
    font-size: 14px;
    border-radius: 3em !important;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(73,172,229,1)), to(rgba(9,98,194,1)));
    background: linear-gradient(-180deg, rgba(73,172,229,1) 0%, rgba(9,98,194,1) 100%);
	-webkit-transform: translateY(0) scale(1.01);
    transform: translateY(0) scale(1.01);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
	opacity: 0.7;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li:focus{
	opacity: 1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,.woocommerce div.product .woocommerce-tabs ul.tabs li::before{content:none;}
.woocommerce-Tabs-panel{background-color:#fff;border:0 solid transparent;border-radius:0;box-shadow:none;}
.menu-items a{color:#010101;text-decoration:none;}
.woocommerce .entry-summary .cart{margin:30px 0 0!important;}
.products{padding-top:10px;padding-left:0;list-style:none;}
.page-title{display:none;}
.menu-items a{color:#010101;text-decoration:none;}
.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{float:none;margin:0;padding:0;position:relative;width:auto;}
.woocommerce ul.products li.product .button.full-wid,.woocommerce ul.products li.product .button.add_to_cart_button,.woocommerce ul.products li.product .button.ajax_add_to_cart{margin-top:5px;}
.woocommerce ul.products li.product .button {
    margin-bottom: 25px;
}
.woocommerce a.added_to_cart.wc-forward{margin-left:10px;padding:5px 10px;width:auto;}
.woocommerce.single-product .summary.entry-summary .product_title{color:#262526;font-size:47px;font-weight:bold;line-height:48px;margin-bottom:10px;}
.summary.entry-summary .price span.woocommerce-Price-amount.amount{font-size:40px;line-height:40px;}
.woocommerce-Tabs-panel--description{color:#515150;font-size:16px;line-height:26px;}
.product .menu-items h3 a{
	color: #414B61;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 15px;
    line-height: 27px;
    font-weight: bold;
}
.woocommerce ul.products li.product h3 {
	padding: 0 !important;
}
.woocommerce .star-rating, .woocommerce .products .star-rating {
    color: #2b2b2b;
}
.woocommerce .products .star-rating {
	margin: 0 auto;
}
.woocommerce ul.products li.product .star-rating {
    font-size: 12px;
}
.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce .comment-text .star-rating,
.woocommerce-review__published-date{
	font-size: 13px !important;
}
.woocommerce.single-product div.product .woocommerce-product-rating{margin:20px 0 -20px 0;}
.woocommerce-product-gallery__wrapper{margin-top:0!important;}
#order_review_heading{padding-top:15px;padding-bottom:10px;}
.woocommerce-billing-fields{margin-bottom:15px;}
.woocommerce form .woocommerce-account-fields .form-row .input-checkbox{margin:-10px 8px 0 0;}
.checkout_coupon.woocommerce-form-coupon p.form-row-last{
	margin-top:12px;
}
#ship-to-different-address-checkbox{
	margin-bottom: 0;
}
.select2-container {
    display: none;
}
.select2-hidden-accessible {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 60px !important;
    margin: -1px!important;
    overflow: hidden!important;
    padding: 15px 20px !important;
    position: relative!important;
    width: 230px!important;
	-webkit-box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
    box-shadow: 4px 1px 1px 0 rgba(5, 16, 44, .1) !important;
	border: none;
    background-color: rgb(250, 251, 255);
    border-radius: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:28px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:55px;}
.select2-container--default .select2-selection--single{border:none;color:#999;border-radius:0;}
.woocommerce ul,.woocommerce li,.woocommerce ol{list-style:none;}
.woocommerce figure{margin:30px 0 0 0;padding:0;}
.divider-d-dashed{border-bottom:1px dashed #d7d7d7;border-top:1px dashed #d7d7d7;float:left;height:5px;margin:10px 0 45px;width:100%;}
.woocommerce .comment-list{margin-bottom:25px;}
/*My Account Pages*/
.woocommerce-account .woocommerce-Button{
	margin-bottom: 15px !important;
}
.woocommerce-account .edit-account .button,
.woocommerce-account.woocommerce-edit-address .button{
	margin-bottom: 0 !important;
	margin-top: 25px !important;
}
.woocommerce-account em{
	font-size: 13px !important;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul{
	padding-left: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation li{
	padding: 8px 0;
    border-bottom: 1px solid #efeff0;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a{
	font-weight: 500;
}
.woocommerce-account .addresses .title .edit {
    background: #999;
    padding: 5px 20px;
    color: #fff;
}
/*END My-account pages*/
@media screen and (min-width: 768px){
.woocommerce-page .left-padd0{padding-left:0px!important;}
}
@media screen and (max-width: 767px){
.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{float:none;margin:0;padding:0;position:relative;width:auto;}
.woocommerce ul.products li.product:nth-child(2n),.woocommerce-page ul.products li.product:nth-child(2n){float:none;}
.woocommerce-cart .quantity{margin-left:70px;}
.woocommerce-cart .quantity .qty {
    float: right;
}
}
@media screen (min-width: 600px) and (max-width: 767px){
.logged-in .woocommerce-Tabs-panel--reviews .col-sm-6.xs-tcenter {
    padding-left: 5px;
}
}
@media only screen and (max-width: 640px){
.woocommerce.post-type-archive-product .font-bold{font-size:15px!important;}
.woocommerce.post-type-archive-product .button a.boxed-color-xs{margin-bottom:0;}
.woocommerce.post-type-archive-product ul.products li.product,.woocommerce-page.post-type-archive-product ul.products li.product{width:100%;}
}
@media only screen and (max-width: 600px){
.woocommerce .comment-list{margin-bottom:5px;}
}
@media screen and (max-width: 510px){
.woocommerce table.cart td.actions .coupon .input-text + .button{float:left;margin:10px 0!important;width:100%;}
.woocommerce .input-text{min-width:100px;}
.woocommerce-result-count{
	display: none !important;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
	width: 100%;
}
.woocommerce.single-product .summary.entry-summary .product_title {
    font-size: 36px;
    line-height: 42px;
}
.summary.entry-summary .price span.woocommerce-Price-amount.amount {
    font-size: 28px;
    line-height: 28px;
    margin-top: 5px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    margin-bottom: 10px;
}
.ft_single_page.woocommerce-page section.single-layout-one p{
	font-size: 14px;
	line-height: 26px;
}
.woocommerce div.product form.cart .variations select {
    width: 85%;
}
.woocommerce div.product form.cart .variations td.label {
    font-size: 11px;
    line-height: 40px;
}
}
@media (max-width: 400px){
.woocommerce-ordering select.orderby{height:36px;line-height:20px;padding:3px;font-size:11px;}
.woocommerce .button, .woocommerce .login .button, .woocommerce div.product form.cart .button,
.woocommerce div.product form.cart .button:hover,.woocommerce-tabs ul.tabs li.active,.woocommerce-tabs ul.tabs li:hover,
.woocommerce .product ul.tabs li.active a,.woocommerce .product ul.tabs li:hover a,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.woocommerce .button:hover, .wc-forward:hover, .woocommerce .login .button:hover, .woocommerce a.button:hover,
.woocommerce #respond input#submit:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,  .woocommerce a.added_to_cart.wc-forward:hover,
.woocommerce .menu-card:hover .button, .woocommerce .menu-card:hover .wc-forward, .woocommerce .menu-card:hover a.button{
	font-size: 13px;
}
.woocommerce-page input, .select2-hidden-accessible {
    height: 50px;
}
.woocommerce-page input.input-checkbox{
    height: auto;
}
.checkout_coupon.woocommerce-form-coupon p.form-row-last {
    margin-top: 10px;
}
p.form-row{
	margin-bottom: 15px !important;
}
}
@media screen and (max-width: 350px){
.woocommerce form .form-row label,.woocommerce-page form .form-row label{max-width:80%;}
}
@media only screen and (max-width: 320px){
.woocommerce .comment-list{margin-bottom:15px!important;}
}
/*Only for Mozilla*/
@-moz-document url-prefix() {
	.woocommerce-page select {
		-moz-appearance: none;
		padding: 5px 15px 5px 20px !important;
		width: auto !important;
	}
	@media (max-width: 400px){
	.woocommerce-page select {
		width: 100% !important;
	}
	}
}
/*END Only for Mozilla*/