@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPHA.ttf?ce=43710007) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWw.ttf?ce=43710007) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVSwiPHA.ttf?ce=43710007) format('truetype');
}
