/*For Common Styles*/
p, li, li a, a, blockquote{
	font-family: 'Montserrat', sans-serif;
}
p, blockquote, .single-mainpost li, .single-mainpost a{
	font-size: 14px;
    line-height: 27px;
    font-weight: 400;
}
p.thin, .dialog .thin{
	font-weight: 400;
}
.thin p{
	font-weight: 300;
}
.montserrat{
    font-family: 'Montserrat', sans-serif !important;
	font-size: 15px;
    line-height: 27px;
    color: #555;
    font-weight: 400;
}
p.montserrat{
	font-size: 15px;
    line-height: 27px;
    color: #7A8190 !important;
    font-weight: 400;
}
.ft_single_page p, .ft_single_page a, .ft_single_page li,
.ft_blog_page p, .ft_blog_page a, .ft_blog_page li{
	font-family: 'Montserrat', sans-serif;
}
.ft_blog_page header a,
.ft_single_page p.small,
.ft_blog_page p.small{
	font-family: 'Nunito', sans-serif;
}
.ft_blog_page p.thin, .ft_blog_page p.thin, .ft_single_page p.thin, .ft_single_page p.thin {
    font-weight: 400;
}
.ft_blog_page .section-title .light, .ft_single_page .section-title .light {
    color: #7A8190;
}
/*For Blog*/
.ft_blog_page .light.thin, .ft_single_page p.light.thin{
    line-height: 27px;
    color: #7A8190;
    font-weight: 400;
}
.ft_blog_page header h1 {
    position: relative;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 500;
	margin-top: .5rem;
    color: #F7F8FC;
    text-shadow: 0 25px 25px rgba(0,0,0, .1);
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}
.ft_blog_page header .button {
    margin: -10px 15px 0 0;
}
.ft_blog_page h2, .ft_single_page h2 {
    color: #414B61;
	font-size: 28px;
    line-height: 1.2em;
	font-weight: 600 !important;
	font-family: 'Montserrat', sans-serif;
}
.ft_single_page .blog-description h2{
	color: #545d70;
	font-size: 24px;
	line-height: 1.3em;
}
.ft_blog_page .section-title h2, .ft_single_page .section-title h2{
	font-size: 2rem;
	line-height: 1.2;
}
.ft_blog_page .section-title h2 b, .ft_single_page .section-title h2 b{
	font-weight: 600;
}
.ft_blog_page meta {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    font-weight: 600;
    margin-left: 10px;
    padding-left: 10px;
    text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.ft_blog_page .readmore{
	font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: #0b0b0b;
	padding: 4px 0px;
	font-family: 'Montserrat', sans-serif;
}
.ft_blog_page .blog-standard .sticky .news-block .content-box .outer{
	background-color: #ffffff;
    color: #555;
	border-bottom: 2px solid #fe1848!important;
}
/*For Single Post*/
.ft_single_page section.single-layout-one p, .ft_single_page section.single-layout-one blockquote, .ft_blog_page .side-bar p, .widget_rss .rssSummary,
.ft_single_page section.single-layout-one ul, .ft_single_page section.single-layout-one ol, .ft_single_page section.single-layout-one .dialog ul, .ft_single_page section.single-layout-one .dialog ol {
    font-size: 15px;
    line-height: 27px;
    color: #555;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
}
.ft_single_page section.single-layout-one ul ul, .ft_single_page section.single-layout-one ol ol,
.ft_single_page section.single-layout-one ul ul ul, .ft_single_page section.single-layout-one ol ol ol,
.ft_single_page section.single-layout-one .comments-list ul ul, .ft_single_page section.single-layout-one .comments-list ol ol,
.ft_single_page section.single-layout-one .comments-list ul ul ul, .ft_single_page section.single-layout-one .comments-list ol ol ol{
	margin-bottom: 0;
}
.ft_single_page section.single-layout-one .dialog p{
	margin-bottom: 15px;
}
.single-layout-one .dialog .mt-30{
	margin-top: 20px;
}
.ft_single_page section.single-layout-one blockquote{
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2em;
}
.ft_single_page section.single-layout-one li, .ft_single_page section.single-layout-one .dialog li{
	font-size: 15px;
    line-height: 27px;
    color: #555;
    font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}
.ft_single_page header h1.blogpage {
    position: relative;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 700;
    color: #F7F8FC;
    text-shadow: 0 25px 25px rgba(0,0,0, .1);
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    padding: 40px 0 30px 0;
	max-width:60%; 
	margin-left:auto; 
	margin-right:auto;
}

.ft_single_page section.single-layout-one h1, .ft_single_page section.single-layout-one .dialog h1 {
    font-size: 36px;
    font-weight: 600;
	color: #414B61;
    margin-bottom: 25px;
    line-height: 1.2em;
    margin-top: 0;
	font-family: 'Roboto', sans-serif;
}
.ft_single_page section.single-layout-one h2 {
    font-size: 28px;
    line-height: 1.2em;
    color: #414B61;
    font-weight: 600;
    margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}
.ft_single_page section.single-layout-one .single-mainpost h2 {
    margin-bottom: 20px;
    margin-top: 25px;
}
.ft_single_page section.single-layout-one h3, #comments-section .comment-field-heading{
	font-size: 24px;
    font-weight: 500;
	color: #414B61;
    margin-bottom: 10px;
	line-height: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.ft_single_page section.single-layout-one h4 {
	font-size: 20px;
    font-weight: 500;
	color: #414B61;
    margin-bottom: 10px;
	line-height: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.ft_single_page section.single-layout-one h5{
	font-size: 18px;
    font-weight: 500;
	color: #414B61;
    margin-bottom: 10px;
	line-height: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.ft_single_page section.single-layout-one h6{
	font-size: 15px;
    font-weight: 500;
	color: #414B61;
    margin-bottom: 10px;
	line-height: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.ft_single_page section.single-layout-one .single-mainpost p:last-child{
	margin-bottom: 0;
}
.ft_single_page section.single-layout-one blockquote p {
    margin-bottom: 15px;
}
.ft_single_page section.single-layout-one .single-mainpost blockquote p:last-child{
	margin-bottom: 0;
}
.single-layout-one .single-mainpost{
	padding: 35px;
	background-color:rgb(250, 251, 255);
}
.ft_single_page .heading-comments-section {
    font-size: 20px;
    line-height: 27px;
    color: #414B61;
    font-weight: 500;
	font-family: 'Roboto', sans-serif;
}
#comments-section .author_info,
#comments-section time,
.comment-meta.author_info a{
	font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #414B61;
}
#comments-section .comments {
    margin-top: 0;
}
.ft_single_page section.single-layout-one p.comment-notes{
	margin-bottom: 35px;
}
/*Images*/
.ft_single_page img.wp-post-image {
    margin-bottom: 40px;
}
.ft_single_page img.wp-post-image, .ft_single_page img {
	box-shadow: none;
}
.ft_single_page .single-layout-one img{
	margin-bottom: 25px;
}
.ft_single_page .single-layout-one p img{
	margin-bottom: 0;
}

/*For Sidebar*/
.sidebar-title h3 {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #414B61;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
	font-family: 'Roboto', sans-serif;
}
.sidebar-li a{
	font-size: 14px;
    line-height: 15px;
    color: #555;
    font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

/*Roboto-Nunito*/
.nav-menu ul li, .nav-menu ul li a, ul.footer-links li, ul.footer-links li a, .navigation p.logo-text, .logo-footer p.logo-text, .footer-bottom p{
	font-family: 'Nunito', sans-serif !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p.p-header, .portfolio .filters button {
    font-family: 'Roboto', sans-serif !important;
}
/*Media Quries*/
@media only screen and (max-width: 599px){
.ft_blog_page header h1, p.white.p-header{
	font-size: 32px;
}
.ft_single_page section.single-layout-one h1, .ft_single_page section.single-layout-one .dialog h1 {
	font-size: 30px;
}
.ft_single_page section.single-layout-one h2, #comments-section .comment-field-heading {
	font-size: 22px;
}
.ft_single_page section.single-layout-one h3{
	font-size: 20px;
}
.ft_single_page section.single-layout-one h4{
	font-size: 18px;
}
.ft_single_page section.single-layout-one h5{
	font-size: 16px;
}
.ft_single_page section.single-layout-one h6{
	font-size: 14px;
}
}