@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 26px;
		padding-left: 26px;
		font-size: 1rem;
    }
	.navbar-expand-lg .navbar-nav .sub-menu .nav-link {
		font-size: 15px;
	}
	.navbar-nav .nav-link {
		padding-top: 14px;
		padding-bottom: 13px;
	}
	.navbar-expand-lg .navbar-nav.parent-items-7 .nav-link{
		padding-right: 19px;
		padding-left: 19px;
		font-size: 15px;
	}
	.navbar-expand-lg .navbar-nav.parent-items-7 .sub-menu .nav-link{
		font-size: 14.5px;
	}
	.navbar-expand-lg .navbar-nav.parent-items-8 .nav-link, .navbar-expand-lg .navbar-nav.parent-items-9 .nav-link {
		padding: 12px 18px 11px;
		font-size: 14.5px;
	}
	.navbar-expand-lg .navbar-nav.parent-items-8 .sub-menu .nav-link, .navbar-expand-lg .navbar-nav.parent-items-9 .sub-menu .nav-link {
		font-size: 14px;
	}
	.ft_blog_page .blog-standard .news-block .meta-info ul li.mp-0{
		margin-left: 0;
		padding-left: 0;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
.navbar-expand-lg .navbar-nav .nav-link {
        padding: 12px 21px;
		font-size: 15px;
    }
	.navbar-expand-lg .navbar-nav .sub-menu .nav-link {
		font-size: 14px;
	}
.navbar-expand-lg .navbar-nav.parent-items-7 .nav-link{
    padding: 8px 15px;
    font-size: 14px;
}
.navbar-expand-lg .navbar-nav.parent-items-7 .sub-menu .nav-link{
		font-size: 13.5px;
	}
.navbar-expand-lg .navbar-nav.parent-items-8 .nav-link, .navbar-expand-lg .navbar-nav.parent-items-9 .nav-link {
    padding: 7px 12px;
	font-size: 13.8px;
}
.navbar-expand-lg .navbar-nav.parent-items-8 .sub-menu .nav-link, .navbar-expand-lg .navbar-nav.parent-items-9 .sub-menu .nav-link {
		font-size: 13px;
	}
.navbar .navbar-brand {
    margin-right: 50px;
}
.section-head .bcrumbs li {
    font-size: 14px !important;
}
.ft_blog_page header h1, .ft_single_page header h1{
	font-size: 2.1rem !important;
}

.apparatus-recent-post-widget .rp_image{
	display: none;
}
.apparatus-recent-post-widget .col-lg-8.plr-0{
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	padding-left: 15px;
}
}

@media (min-width: 992px) {
	.navbar-blog ul.navbar-nav{
			margin-left: auto;
		}
		.navbar-nav.mrg-auto {
			margin-left: 1px;
			margin-right: 2px;
			-webkit-transition: margin-right .8s;
			transition: margin-left .8s, margin-right .8s;
		}
		.ft_home .bg-scroll ul.navbar-nav{
			margin-right: 1px;
			margin-left: 2px;
			-webkit-transition: margin-left .8s;
			transition: margin-left .8s, margin-right .8s;
		}
}

@media (max-width: 991px) {
    .navbar {
        position: fixed;
        padding: 5px 15px;
        background-color: rgb(250, 251, 255);
        border-radius: 0 0 10px 10px;
        -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
        box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    }
}

@media (max-width: 768px) {

    .bg-scroll .header-button,
    .header-button,
    .bg-map,
    .line,
    .social-icons,
    .header-phone,
    .header-macbook {
        display: none;
    }
	
	body {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0.00)), to(rgba(216, 216, 216, 0.00)));
        background-image: linear-gradient(-180deg, rgba(238, 238, 238, 0.00) 0%, rgba(216, 216, 216, 0.00) 100%);
    }
	.blog-card iframe, .news-block .outer iframe, .single-mainpost iframe{
		height: 300px !important;
	}
    .sm-ac,
    .main-title {
        text-align: center;
    }

    .scroll-arrow {
        color: rgb(250, 251, 255);
    }

    .main-suptitle: {
        opacity: 1;
        color: rgb(250, 251, 255);
    }

    .footer-copyright,
    footer,
    .call-to-action,
    .video {
        text-align: center;
        height: 100%;
    }

    footer .row {
        height: 100%;
        text-align: center;
    }

    .footer-nav li {
        display: block;
        margin: auto;
    }

    .footer-nav {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-brand .logo {
        margin: 15px auto;
    }

    .hiw-item div {
        margin: 0 auto 30px;
    }

    .author,
    .hiw-item {
        text-align: center;
    }

    .navbar-collapse {
        padding: 30px 0;
    }

    .submit {
        font-weight: bold;
        width: 120px;
        height: 55px;
        margin: 0 auto;
    }

    .popup-window {
        width: 100%;
    }

    .contact-social-icons ul {
        text-align: center;
    }

    .testimonials-tooltip p {
        text-align: center;
        margin-right: 0;
    }

    .sm-white {
        color: #F7F8FC !important;
    }

    .sm-white:hover {
        color: rgb(250, 251, 255) !important;
    }
	.widget_nav_plus_widget {
		margin: auto;
	}
}
@media (min-width:768px) and (max-width: 992px) {
	.navbar.navbar-expand-lg{
		z-index: 999;
	}
	.navbar-collapse.collapse.show{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
@media (min-width: 600px) and (max-width: 992px) {
.blog-standard.p-90-20{
	padding-top: 75px;
}
}