/********************************* 
Apparatus All Sidebar Widgets Custom CSS 
**********************************/
.side-bar ul{
	margin-top: -7px !important;
	margin-bottom: 0 !important;
	padding:0;
}
.side-bar ul.sub-menu{
	margin-top: 0 !important;
}
.side-bar ul.children, .side-bar ul.sub-menu {
    padding-left: 12px;
}
.side-bar .bg2-right-col-item-title{
	font-size: 18px;
    color: #414B61;
    line-height: 1.2em;
    font-weight: 500;
	margin-bottom: 15px !important;
}
.side-bar .widget_tag_cloud .bg2-right-col-item-title{
	margin-bottom: 18px !important;
}
.side-bar .widget_rss .bg2-right-col-item-title a {
    font-size: 18px;
    color: #414B61;
    line-height: 1.2em;
    font-weight: 500;
}
.ft_single_page .single-layout-one .widget_rss img {
    margin-bottom: 0;
}
.side-bar li{
	list-style-type:none;
}
.side-bar .bg2-right-col-item-holder {
    margin-bottom: 40px;
    padding: 25px;
    box-shadow: 0px 0px 1px rgba(0,0,0,.1);
    position: relative!important;
    border-bottom: 2px solid #898989;
	background: rgb(250, 251, 255);
}
.side-bar .bg2-right-col-item-holder.widget_search {
    margin-bottom: 10px;
    padding: 0;
    box-shadow: none;
    position: relative!important;
    border-bottom: none;
	background: transparent;
}
.side-bar .bg2-right-col-item-holder.widget_search input {
    box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	border-radius: 0;
}
.side-bar .bg2-right-col-item-title.author-name{
	padding-top: 10px;
	font-size: 16px;
    line-height: 24px;
}
.side-bar .qodef-aiw-inner img{
	border-radius: 50%;
}
.side-bar .qodef-aiw-inner p:last-child{
	margin-bottom: 5px;
}
.blog-single-post a{
    color: #252525;
    display: inline-block;
    padding: 3px 0;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px;
}
.side-bar li a, .side-bar a{
	font-size: 14px;
    line-height: 1.7;
    color: #333;
    font-weight: 500;
	display: inline-block;
	padding: 3px 0;
}
.side-bar ul li{
    border-top: 1px solid #eee;
	padding: 6px 0;
}
.side-bar .widget_rss ul li {
    padding: 15px 0;
}
.side-bar .widget_rss .rssSummary {
    margin: 15px 0 10px 0;
    font-size: 14px;
}
.side-bar ul li:first-child{
	border-top: none;
}
.side-bar .widget_rss ul li:first-child {
    padding-top: 6px;
}
.side-bar ul li:last-child{
	padding-bottom: 0;
}
.side-bar .widget_rss ul li .rss-date{
	font-size: 13px;
}
.side-bar .recentcomments{
	font-size: 13px;
}
.side-bar .comment-author-link a, .side-bar .widget_rss ul li cite {
    background: #303030;
    padding: 3px 12px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 7px 2px 0;
    font-style:normal;
}
.side-bar label.screen-reader-text{
	display:none;
}
.ft_single_page section.single-layout-one li.recentcomments{
	padding-bottom: 8px;
	font-size: 12px;
}
.side-bar li a:hover,.side-bar a:hover{
	color: #E56734;
}
.side-bar h5{
	font-family: 'roboto', sans-serif;
	font-weight: 500;
}
.row.single-tags{
	clear: both;
	padding-top: 30px;
	border-top: 1px solid #eff0f5;
	margin-left: 2px;
	border-bottom: 1px solid #eff0f5;
	padding-bottom: 30px;
}
.divider{
border-bottom: 1px solid #eff0f5;	
}
.wrap_stag_list h3{
font-size:18px;
margin-bottom:20px;
font-weight: 500;
color:#212529;
font-family:'Nunito', 'sans-serif';
}
.bg2-tags a, .tagcloud a {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 13px!important;
    margin-right: 4px;
    border-radius: 5px;
    border: 1px solid #e8e9ec;
}
table{
width:100%;
border: 1px solid #dee2e6;
margin-bottom:10px;
}
.side-bar table a{
color:#000;
background-color:#ADD8E6;
padding:5px;
border-radius: 5px;	
}
table th,
table td {
padding: 7.8px;
vertical-align: top;
border-top: 1px solid #dee2e6;
}
table thead th {
vertical-align: bottom;
border-bottom: 2px solid #dee2e6;
}
table tbody + tbody {
border-top: 2px solid #dee2e6;
}
table tbody tr:nth-of-type(odd) {
background-color: rgba(0, 0, 0, 0.05);
}
.side-bar .bg2-right-col-item-holder .textwidget img{
width:100%;
height:auto;
border: 1px solid #ddd;
padding: 5px;
}
.side-bar .bg2-right-col-item-holder .textwidget img:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
@media (max-width: 768px)
{
.widget_nav_plus_widget {
margin: auto;
}
}
input[type="radio"],input[type="checkbox"]{
width:auto;
height:auto;	
}
.side-bar #searchform input[type="text"]{
	margin-bottom: 30px;
}
.side-bar input[type="text"]::placeholder,.side-bar textarea::placeholder,.side-bar input[type="email"]::placeholder{
color:#BDC0C6;
}
.side-bar .sea-icon:hover{
	background-color:#B8B00A;
	transition:0.5s;	
}
.side-bar .sea-icon:hover i{
	color:#fff;
}
.side-bar .sea-icon{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -80px;
    position: relative;
	margin-right: 10px;
	color: #fff;
}
.side-bar .sea-icon .fa-search {
    margin-top: 10px;
    margin-left: 4px;
}
.side-bar select {
    padding: 10px;
    width: 100%;
    margin: 0;
    background: #f7f8f9;
    color: #252525;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #eff0f5;
    margin-top: 6px;
	box-shadow: none;
	height: 50px;
    border-radius: 5px;
	font-weight: 500;
}
.side-bar .children li{
padding-bottom:0;
}
.bypostauthor{padding:5px;}
.wp-caption, .gallery-caption, .wp-caption-text {
    font-weight: bold;
    max-width: 100%;
    text-align: center;
}
.side-bar .textwidget .wp-caption img{
	margin-bottom: -10px;
}
figure.aligncenter {
    margin: auto;
}
.wp-caption-text {
    margin-top: -15px;
}
.aligncenter {
	text-align:center;
}
.alignright{
	text-align:right;
	float:right;
	margin-left: 25px;
}
.alignleft{
	text-align:left;
	margin-right: 25px;
	float:left;
}
.alignleft.nofloat{
	float: none;
}
/* New Pagination css */
.page-numbers{
	padding: 0 0 0 15px;
}
.page-numbers  li .current{

	 background-color: rgb(250, 251, 255);
	border: none;
    padding: 15px 20px;
	border-radius: 5px;
    font-weight: bold;
    color: #414B61;
    -webkit-transition: .3s;
    transition: .3s;
	    background-color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}
.page-numbers li{
	list-style:none;
	float:left;

	text-align:center;
}
.page-numbers  li  a:hover {
    background-color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);	
	border: none;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    color: #414B61;
    -webkit-transition: .3s;
    transition: .3s;
}
.page-numbers li a{
	padding: 15px 20px;
    color: #414B61;
	font-weight:bold;
}
input[type="radio"],input[type="checkbox"]{
width:auto;
height:auto;	
}
/*Single Post*/
table {
    margin: 15px 15px 25px 0;
}
.side-bar table {
    margin: 0;
}
.side-bar .calendar_wrap{
	padding-top: 6px;
}
.side-bar table th, .side-bar table td {
    padding: 7.8px 5px;
	text-align: center;
}
th, td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
tbody + tbody {
  border-top: 2px solid #dee2e6;
}
tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.blog-single-post p strong, .blog-single-post b strong {
    font-weight: bold;
	color: #414B61;
}
.load_more a {
    text-transform: none;
    line-height: 24px;
    background-color: rgb(250, 251, 255);
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #414B61;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}
.single-layout-one{
	background-color:#fff;
}
/*Post Meta*/
.single-layout-one .meta-option{
	border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding: 15px 0;
    margin: 20px 0 27px;
	position: relative;
    display: block;
}
.single-layout-one .meta-option.next_prev {
    padding: 15px 35px;
    margin: 0 10px 27px 0;
    background: rgb(250, 251, 255);
}
.ft_single_page section.single-layout-one ul.info, .ft_single_page section.single-layout-one ul.tags{
	margin-bottom: 0;
}
.single-layout-one .meta-option ul li{position:relative;display:inline-block;}
.single-layout-one .meta-option .info li{margin-right:15px;}
.tags.pull-right li a:last-child{
	margin-right: 15px;
}
.single-layout-one .meta-option ul li a{position:relative;font-size:11px;line-height:20px;color:#6f6f6f;font-weight:500;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;font-weight:600;text-transform:uppercase;}
.single-layout-one #comments-section .comments {
    border-top: none;
	padding-top: 40px;
	margin-top: 0;
}
.single-layout-one #comments-section .comments.nopadding {
    padding-top: 0;
}
.single-layout-one .posts-nav{margin: 10px 0;}
.single-layout-one .posts-nav a{font-size:15px;color:#333333;text-decoration:none;font-weight: 600;}
.single-layout-one .posts-nav a span{display:inline-block;padding:15px;color:#ffffff;font-size:14px;background:#333333;}
.single-layout-one .posts-nav a:hover{color:#898989;}
.single-layout-one .posts-nav a:hover span{background:#898989;}
.single-layout-one .posts-nav .pull-left{float:left;}
.single-layout-one .posts-nav .pull-right{float:right;}
.single-layout-one .meta-option .info li i,.single-layout-one .meta-option ul li i{margin-right:10px;color:#898989;font-size: 12px;}

@media only screen and (max-width: 599px){
.single-layout-one .meta-option .info,.meta-option .tags{width:100%;text-align:center;margin-bottom:10px;}
ul.info, ul.tags.pull-right{
	width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
ul.info, ul.tags.pull-right{
	padding-left: 0;
}
@media only screen and (min-width: 600px) and (max-width: 1199px){
ul.tags.pull-right {
    float: inherit;
}
}
ul.tags.pull-right.fl_inherit {
    float: inherit;
}
/*BLOG Standard
The Following CSS are for Standard Blog Section Only
*/
.ft_blog_page img{display:inline-block;max-width:100%;height:auto;}
.ft_blog_page .qodef-aiw-image img {
    height: 150px;
	margin-bottom: 15px;
}
.ft_single_page .single-layout-one .qodef-aiw-image img {
    margin-bottom: 15px;
}
.ft_blog_page .news-block .image-box{position:relative;top:0px;overflow:hidden;background:#2b2b2b;-webkit-transition:all 500ms ease;-ms-transition:all 500ms ease;transition:all 500ms ease;}
.ft_blog_page .news-block .image-box a{display:block;}
.ft_blog_page .news-block .image-box img{display:block;width:100%;-webkit-transition:all 500ms ease;-ms-transition:all 500ms ease;transition:all 500ms ease;}
.ft_blog_page .news-block:hover .image-box img{opacity:0.70;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);}
.ft_blog_page .blog-standard{position:relative;}
.ft_blog_page .blog-standard .news-block{position:relative;margin-bottom:70px;}
.ft_blog_page .blog-standard .news-block .image-box{position:relative;}
.ft_blog_page .blog-standard .news-block .image-box a{display:block;}
.ft_blog_page .blog-standard .news-block .image-box img{display:block;width:100%;height:auto;}
.ft_blog_page .blog-standard .tag-featured-image .news-block .image-box img {
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.ft_blog_page .blog-standard .news-block .content-box{position:relative;padding-top:15px;}
.ft_blog_page .blog-standard .news-block h2{position:relative;display:block;font-size:26px;line-height:1.2em;color:#141414;font-weight:600;margin-bottom:15px;}
.ft_blog_page .blog-standard .news-block h2 a{color:#141414;display:inline-block;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;}
.ft_blog_page .blog-standard .news-block h2 a:hover{color:#898989;}
.ft_blog_page .blog-standard .news-block p{position:relative;font-size:14px;line-height:27px;color:#555;font-weight:500;margin-top:0;margin-bottom:15px;text-align:left;}
.ft_blog_page .blog-standard .news-block .read-more{position:relative;text-transform:uppercase;display:inline-block;font-size:12px;line-height:18px;font-weight:700;color:#0b0b0b;padding:4px 0px;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;}
.bi-meta-info .fas {
    font-size: 12px;
    opacity: 0;
	color:#898989;
    -webkit-transition: .4s;
    transition: .4s;
}
.bi-meta-info:hover .fas {
    opacity: 1;
    margin-left: 5px;
}
.ft_blog_page .blog-standard .news-block h2, .ft_single_page section.single-layout-one .section-title h1, .bread-current{
	word-break: break-all;
	-ms-word-wrap: break-word;
}
.ft_blog_page .blog-standard{position:relative;z-index:9;background-color:#fff;}
.ft_blog_page .blog-standard .news-block .content-box .outer{background: rgb(250, 251, 255);padding:30px!important;-webkit-box-shadow:0px 1px 0px 1px rgba(0,0,0,.02)!important;-moz-box-shadow:0px 1px 0px 1px rgba(0,0,0,.02)!important;-ms-box-shadow:0px 1px 0px 1px rgba(0,0,0,.02)!important;-o-box-shadow:0px 1px 0px 1px rgba(0,0,0,.02)!important;box-shadow:0px 1px 0px 1px rgba(0,0,0,.02)!important;position:relative!important;border-bottom:2px solid #898989!important;}
.ft_blog_page .blog-standard .news-block .image-box {
    box-shadow: 0px 1px 0px 1px rgba(0,0,0,.01)!important;
}
.ft_blog_page .bi-meta-info ul li{position:relative;display:inline-block;margin-left:5px;height:40px;width:40px;text-align:center;line-height:38px;border:1px solid #f3f3f3!important;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;border-radius:50%;}
.ft_blog_page .admin_sx{font-size:11px;font-weight:600;}
.ft_blog_page .blog-standard .news-block .meta-info ul li{border-left:1px solid #eaeaea00!important;}
.ft_blog_page .blog-standard .news-block .content-box .outer:hover{border-bottom:2px solid #141414!important;}
.ft_blog_page .bi-meta-info ul li:hover a{color:#000!important;}
.ft_blog_page .blog-standard .news-block .meta-info ul.pull-left:before{position:absolute;content:'';left:33px;top:91px;width:45px;height:1px;background-color:#222222;}
.ft_blog_page .blog-standard .news-block .meta-info ul li:first-child{margin-left:65px !important;}
.ft_blog_page .blog-standard .news-block .content-box{padding:0px;z-index:10;}
.ft_blog_page .blog-standard .news-block .content-box .outer{padding:20px;background:rgb(250, 251, 255);box-shadow:0px 0px 5px rgba(0,0,0,0.1);}
.ft_blog_page .blog-standard .news-block .meta-info{padding-bottom:15px;display:inline-block;}
.ft_blog_page .blog-standard .news-block .meta-info ul li{position:relative;display:inline-block;font-size:11px;line-height:20px;color:#6f6f6f;font-weight:600;margin-left:10px;padding-left:10px;border-left:1px solid #eaeaea;text-transform:uppercase;}
.ft_blog_page .blog-standard .news-block .meta-info ul li i{margin-right:10px;color:#898989;}
.ft_blog_page .blog-standard .news-block .meta-info ul li a{font-size:11px;line-height:20px;color:#6f6f6f;font-weight:600;display:inline-block;}
.ft_blog_page .blog-standard .news-block .meta-info ul li:first-child{margin-left:0px;border-left:none;padding-left:0px;}
.ft_blog_page .bi-meta-info{border-top:1px solid #eaeaea;padding-top:20px;margin-top:20px;text-align:left;}
.ft_blog_page .bi-meta-info ul li{position:relative;display:inline-block;background:#898989;margin-left:5px;height:40px;width:40px;text-align:center;line-height:38px;border:1px solid #898989;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;}
.ft_blog_page .bi-meta-info ul li:hover{border:1px solid #898989;background:none;}
.ft_blog_page .bi-meta-info ul li a{font-size:14px;color:#fff;-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;-o-transition:all 300ms ease;transition:all 300ms ease;}
.ft_blog_page .bi-meta-info ul li:hover a{color:#898989;}
.ft_blog_page .blog-standard .meta-info ul{margin-bottom: 0; padding-left: 0;}
.ft_blog_page .bl-one-layout{
	padding: 0;
	margin-left: -15px;
	margin-bottom: 0;
}
.ft_blog_page .bl-one-layout .page-numbers {
    margin-bottom: 80px;
    margin-top: 0;
}
.p-90-20 {
    padding: 90px 0 20px;
}
.p-75-5{
	padding: 75px 0 5px;
}
.single-layout-one .meta-option ul li a:hover,
.single-layout-one .posts-nav a:hover,
.single-layout-one .meta-option .info li i,.single-layout-one .meta-option ul li i{
	color: #898989;
}
.single-layout-one .posts-nav a:hover span{
	background: #898989;
}
.single-layout-one textarea, .single-layout-one input{
    -webkit-box-shadow: 0 1px 1px 0 rgba(5, 16, 44, .1);
    box-shadow: 0 1px 1px 0 rgba(5, 16, 44, .1);
}
.single-layout-one .dialog {
    -webkit-box-shadow: 0 0 2px rgba(5, 16, 44, .1);
    box-shadow: 0 0 2px rgba(5, 16, 44, .1);
}
.side-bar .apparatus-recent-post-widget .widget .row h5{
    color: #414B61;
    font-size: 16px;
	line-height: 1.3;
	margin-bottom: 1px;
}
.side-bar .apparatus-recent-post-widget .widget .row a{
	padding-top: 0;
}
.side-bar .apparatus-recent-post-widget .widget .row .post-date{
	font-size: 14px;
	line-height: 1.4;
}
.apparatus-recent-post-widget  .widget .row {
    border-top: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}
.apparatus-recent-post-widget .row:first-child{
	padding-top: 5px;
	border-top: 0;
}
.apparatus-recent-post-widget  .widget .row:last-child{
	padding-bottom: 5px;
}
.apparatus-recent-post-widget .rp_image{
	padding-top: 3px;
}
.ft_single_page .single-layout-one .rp_image img {
    margin-bottom: 0;
}
.apparatus-recent-post-widget img.attachment-75x75.size-75x75.wp-post-image {
    max-width: 75px;
    width: 100%;
    height: auto;
}
.side-bar .bg2-right-col-item-holder .qodef-aiw-inner p.qodef-aiw-text{
    font-size: 14px;
    line-height: 26px;
    color: #555;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}
/*BreadCrumb*/
ul.bcrumbs{padding:0;margin:0;}
.bcrumbs li{list-style:none;margin:0;}
.section-head .bcrumbs{margin:45px 15px 38px;display:table;text-transform:uppercase;}
.section-head .bcrumbs li{float:left;font-size:16px;line-height: 1.6;margin-right:30px;position:relative;}
.section-head .bcrumbs li:first-child:before{display:none;}
.section-head .bcrumbs li.separator::before{content:"\f105";opacity: .7;font-family:'Font Awesome 5 Free';color:#F7F8FC;font-size:12px;position:absolute;left:-17px;top:3px;font-weight:900;}
.section-head .bcrumbs li a, .section-head .bcrumbs li span {
    font-weight: bold;
    opacity: .7;
    color: #F7F8FC;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: .4s;
    transition: .4s;
    display: block;
    font-family: 'Nunito', sans-serif;
}
.section-head .bcrumbs li a:hover{
    opacity: 1;
    color: #F7F8FC;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.section-head .bcrumbs li.item-current:before{content:none;}
.section-head.header-blog {
    height: auto;
}
/*Single Post*/
.ft_single_page section.single-layout-one h1, .ft_single_page section.single-layout-one .dialog h1{
	font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 991px){
.sm-tm{
	margin-top: 60px;
}
.ft_blog_page .sm-tm{
	margin-top: 10px;
}
.section-head .bcrumbs {
    margin: 25px 15px 38px;
}
.single-layout-one .meta-option.next_prev {
    margin: 0 0px 27px 0;
}
}
@media only screen and (max-width: 599px){
.ft_blog_page .blog-standard .news-block h2{font-size:20px;}
.ft_blog_page .blog-standard .news-block .meta-info ul.pull-left:before,
.ft_blog_page .blog-standard .news-block .meta-info ul li:first-child{
	display: none;
}
.ft_blog_page .blog-standard .news-block .meta-info ul li{
    margin-left: 0;
	padding-left: 0;
	width: 100%;
}
.comment-respond button.button {
    margin-top: -20px;
}
.xs-noshow{
	display: none;
}
p.white.p-header, .ft_blog_page header h1, p.white.p-header{
	margin-bottom: 1rem;
}
.ft_blog_page .blog-standard {
    padding: 50px 0 10px 0;
}
.ft_blog_page .contact.p-90-60{
	padding-top: 60px;
}
.ft_blog_page .contact .section-title.mb-70 {
    margin-bottom: 0px;
}
.ft_single_page .comment-form .button {
    padding: 15px 30px;
	margin-right: 0;
}
.xs-tcenter {
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
}
.comment-form .col-sm-12.xs-tcenter {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
}
@media only screen and (max-width: 479px){
.ft_blog_page .bi-meta-info ul li{margin-left:0px;margin-right:5px;}
}
.postid-50 .alignleft.nofloat .attachment-post-thumbnail.wp-post-image,
.postid-22 .alignleft.nofloat .attachment-post-thumbnail.wp-post-image,
.postid-27 .alignleft.nofloat .attachment-post-thumbnail.wp-post-image{
	display: none;
}
@media only screen and (min-width: 992px){
.blog-mr-10 {
    margin-right: 10px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
.side-bar table th, .side-bar table td {
    padding: 7.8px 3px;
}
}

.single-layout-one .posts-nav a .the-shadow-on {
    color: #333 !important;
	padding: 15px;
    font-family: Montserrat;
    background: rgb(250, 251, 255) !important;
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20) !important;
}
.single-layout-one .posts-nav a:hover .the-shadow-on, .single-layout-one .posts-nav a:hover .the-shadow-on span{
	background: #fff !important;
}
.single-layout-one .posts-nav a .the-shadow-on span {
    padding: 0 !important;
    color: #333 !important;
    font-size: 16px !important;
    background: rgb(250, 251, 255) !important;
}
/*
h1,h2,h3,h4,h5,h6{
	word-break: break-all;
}
*/